{% extends 'LMarcoMusicTubeBundle::layout.html.twig' %}
{% block content %}

<h1>Music list</h1>

<table class="table records_list">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Youtube Link</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class='{% if entity.status == 1 %}converting{% endif %}'>
            <td>{{ entity.title }}</td>
            <td>{{ entity.status }} {% if entity.status == 'NOT_CONVERTED' %}<a class="start-download" data-id="{{ entity.id }}" href="#">Start</a>{% endif %}</td>
            <td>{{ entity.youTubeUrl }}</td>
            <td>
                <div class="btn-group">
                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('music_show', { 'id': entity.id }) }}">Show</a>
                        </li>

                        <li>
                            <a href="/music_files/{{ entity.videoId }}.aac">Download</a>
                        </li>
                    </ul>
                </div>
                
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    
        <a class="btn" href="{{ path('music_new') }}">
            Create a new entry
        </a>


{% endblock %}
