<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  {% if isFacebook %}
  <meta property="og:title" content="JamTube beta" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ url('music') }}bundles/lmarcomusictube/img/og_logo.png" /> 
  <meta property="og:description" content="Online convert YouTube to MP3 service." /> 
  <meta property="og:site_name" content="jamtube.skyveostudio.com"/> 

  <meta property="og:url" content="http://jamtube.skyveostudio.com" />
  {% endif %}
  <title>JamTube beta</title>
  <meta name="description" content="Online convert YouTube to MP3 service" />

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  {% stylesheets
        '@LMarcoMusicTubeBundle/Resources/public/less/musictube.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400italic,300italic,100italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>

  <script src="/bundles/lmarcomusictube/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  {% include 'LMarcoMusicTubeBundle:MusicTube:about_this_modal_box.html.twig' %}

  <header>
    <a data-toggle="modal" href="#aboutThis">About This</a>
  </header>
  <div role="main">
    <span id="content-block">
  	{% block content %}{% endblock %}
    </span>
    <div style="float:left; height:300px;width:100%"></div>
  </div>
  <footer>
    <i>This service is provided as is, with no guarantee that everything will work fine,<br />
    and you will also be responsible for your content.</i>
    <i style="float:right;margin:0 40px 0 0;">The source code is available at <a href="https://github.com/marcoleong/musictube">GitHub</a></i>
  </footer>
  


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/bundles/lmarcomusictube/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  
  <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

	{% javascripts
          '@LMarcoMusicTubeBundle/Resources/public/js/libs/jquery.form.js'
	        '@LMarcoMusicTubeBundle/Resources/public/js/plugins.js'
          '@LMarcoMusicTubeBundle/Resources/public/js/libs/bootstrap/bootstrap-modal.js'
          '@LMarcoMusicTubeBundle/Resources/public/js/libs/bootstrap/bootstrap-transition.js'
          '@LMarcoMusicTubeBundle/Resources/public/js/libs/underscore-min.js'
          '@LMarcoMusicTubeBundle/Resources/public/js/libs/backbone-min.js'
          '@LMarcoMusicTubeBundle/Resources/public/js/libs/cufon-yui.js'
          '@LMarcoMusicTubeBundle/Resources/public/js/libs/androgyne.cufonfonts.js'

	        '@LMarcoMusicTubeBundle/Resources/public/js/script.js'
	    %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33770234-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
